$defaultFontColor: #393939;
$LinkHoverColor: #444B76;
$bodyBackgroundColor: #1F2234;
$wrapperBackgroundColor: #FFFFFF;
$separatorColor: #E6E6E6;
$statusBackgroundColor: #F8F8F8;
$status1: #7795E2;
$status2: #CCA16E;
$status3: #6EAACC;
$status4: #987EC1;
$status5: #7BA95F;
$status6: #E27777;
$tableBackgroundColor: #FAFAFA;
