$defaultFontColor: #393939;
$LinkHoverColor: #444B76;
$bodyBackgroundColor: #1F2234;
$wrapperBackgroundColor: #FFFFFF;
$separatorColor: #E6E6E6;
$statusBackgroundColor: #F8F8F8;
$status1: #7795E2;
$status2: #CCA16E;
$status3: #6EAACC;
$status4: #987EC1;
$status5: #7BA95F;
$status6: #E27777;
$tableBackgroundColor: #FAFAFA;
$orderStatusColor: #787878;
$orangeStatus: #DF8600;
$greenStatus: #7BA95F;
$h2Color: #5C5C5C;
$radioColor: #999999;
$placeholderColor: #A1A1A1;
$submitColor: #E2A13E;
$regColor: #434343;
$submitColorHover: #e39217;
$regColorHover: #333232;
$ellipseColor: #CACACA;
$regLinkColor: #3E8AE2;
$redWarning: #9A1212;
$fileUploadBg: #E7E7E7;
$fileUploadBorder: #D6D6D6;
$darkGreen: #29811B;

