@import "_vars/vars";
@import "_fonts/fonts";

body {
  font-family: Arial, sans-serif !important;
  font-size: 14px;
  color: $defaultFontColor;
  background-color: $bodyBackgroundColor;
  padding-left: 10px;
}
a {
  cursor: pointer;
}
body.login {
  padding: 0;
  background: url('/images/sign-up/main-slide2.jpg') center center;
}
.col, .row, .container, .col-9, .col-3, .col-6, .col-4 {
  margin: 0;
  padding: 0;
  flex: auto;
}
.sidebar {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid $separatorColor;
  min-height: 100vh;
  height: 100%;
  .nav, .nav-item, .nav-link {
    margin: 0;
    padding: 0;
  }
  .nav-link {
    color: $defaultFontColor;
    &:hover {
      color: $LinkHoverColor;
      i.book {
        background: url('/images/hover/bi_book.svg') no-repeat;
      }
      i.connect {
        background: url('/images/hover/raphael_connect.svg') no-repeat;
      }
      i.questions {
        background: url('/images/hover/mdi_frequently-asked-questions.svg') no-repeat;
      }
      i.users {
        background: url('/images/hover/gridicons_multiple-users.svg') no-repeat;
      }
      i.info {
        background: url('/images/hover/ant-design_info-circle-outlined.svg') no-repeat;
      }
      i.settings {
        background: url('/images/hover/ci_settings.svg') no-repeat;
      }
    }
  }
  .nav-item {
    margin-bottom: 15px;
  }
  .subnav {
    margin-top: 15px;
    margin-left: 20px;
  }
  nav {
    label, .label {
      font-size: 12px;
      font-family: Arial, sans-serif;
      font-weight: 700;
      margin-bottom: 15px;
    }
    .active::before {
      height: 24px;
      width: 5px;
      position: absolute;
      background-color: #444B76;
      content: " ";
      display: block;
      margin-left: -20px;
    }
  }
}
.logo {
  padding-bottom: 25px;
}
.wrapper {
  background-color: $wrapperBackgroundColor;
  min-height: 100vh;
}
.bell {
  background: url('/images/akar-icons_bell.svg') no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 11px;
}
.messages {
  background: url('/images/jam_messages.svg') no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 20px;
}
.logout {
  background: url('/images/fe_logout.svg') no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.person {
  background: url('/images/bi_person-circle.svg') no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  margin-right: 13px;
}
.book {
  background: url('/images/bi_book.svg') no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 4px;
  margin-right: 4px;
}
.connect {
  background: url('/images/raphael_connect.svg') no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 6px;
  margin-right: 4px;
}
.questions {
  background: url('/images/mdi_frequently-asked-questions.svg') no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  top: 6px;
  margin-right: 7px;
}
.users {
  background: url('/images/gridicons_multiple-users.svg') no-repeat;
  width: 19px;
  height: 19px;
  display: inline-block;
  position: relative;
  top: 6px;
  margin-right: 2px;
}
.info {
  background: url('/images/ant-design_info-circle-outlined.svg') no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 2px;
}
.settings {
  background: url('/images/ci_settings.svg') no-repeat;
  width: 23px;
  height: 23px;
  display: inline-block;
  position: relative;
  top: 7px;
  margin-right: 2px;
}
.separator {
  border-bottom: 1px solid $separatorColor;
  margin-bottom: 25px;
}
.userBar {
  margin: 20px 20px 55px auto;
}
.user-account {
  margin-right: 20px;
  a {
    color: $defaultFontColor;
    line-height: 9px;
    position: relative;
    top: -3px;
    &:hover {
      color: $LinkHoverColor;
      text-decoration: none;
    }
    p {
      margin: 0;
      padding:0;
      color: $LinkHoverColor;
      font-family: Arial, sans-serif;
      font-weight: bold;
      font-size: 12px;
    }
  }
}
.page-title {
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  a {
    color: $LinkHoverColor;
    &:hover {
      text-decoration: none;
    }
  }
  .l-separator {
    color: $LinkHoverColor;
    margin-left: 14px;
    margin-right: 14px;
  }
  .active {
    color: $defaultFontColor;
    border-bottom: 1px solid $defaultFontColor;
  }
}
.status {
  text-align: center;
  cursor: pointer;
  height: 97px;
  font-size: 10px;
  background-color: $statusBackgroundColor;
  max-width: 160px;
  border-left: 20px solid #1F2234;
  .count {
    font-family: Barlow-Bold, sans-serif;
    font-size: 30px;
  }
  .status-text {
  }
}
.status-1 {
  border-color: $status1 !important;
}
.status-2 {
  border-color: $status2 !important;;
}
.status-3 {
  border-color: $status3 !important;;
}
.status-4 {
  border-color: $status4 !important;;
}
.status-5 {
  border-color: $status5 !important;;
}
.status-6 {
  border-color: $status6 !important;;
}
.funnel {
  margin-top: 15px;
}
.filters {
  margin-top: 25px;
  select {
    -webkit-appearance: none;
    appearance: none;
    width: 254px;
    height: 28px;
    border: 1px solid $separatorColor;
    color: $defaultFontColor;
    padding-left: 15px;
    padding-right: 15px;
  }
  input {
    width: 254px;
    height: 28px;
    border: 1px solid $separatorColor;
    color: $defaultFontColor;
    padding-left: 15px;
    padding-right: 15px;
  }
  input::placeholder {
    color: $defaultFontColor;
  }
  .select-wrapper, .search-wrapper {
    margin-right: 20px;
  }
  .select-wrapper::before {
    content: " ";
    width: 8px;
    display: inline-block;
    height: 5px;
    position: absolute;
    margin-left: 230px;
    margin-top: 12px;
    background: url('/images/arrow-down.svg') no-repeat;
  }
  .search-wrapper::before {
    content: " ";
    width: 16px;
    display: inline-block;
    height: 16px;
    position: absolute;
    margin-left: 225px;
    margin-top: 7px;
    background: url('/images/search.svg') no-repeat;
  }
}
div.table {
  margin: 0;
}
div.table table.table {
  border: 0;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
  color: $defaultFontColor;
  thead tr th {
    padding-top: 0;
    border-bottom: 1px solid $separatorColor;
    border-top: 0;
  }
  td {
    border: 0;
  }
  tr.odd {
    border-top: 1px solid $separatorColor;
    border-bottom: 1px solid $separatorColor;
    background-color: $tableBackgroundColor;
  }
  .order-status, .order-updated-at {
    color: $orderStatusColor;
  }
  .order-details {
    font-weight: bold;
  }
  .order-address {
    width: 282px;
  }
  .orange-status {
    color: $orangeStatus;
  }
  .green-status {
    color: $greenStatus;
  }
}
.boxes {
  margin-top: 15px;
}
.box {
  border-left: 20px solid;
  background-color: $statusBackgroundColor;
  padding: 20px !important;
  margin-bottom: 20px;
}
h4 {
  font-weight: 700;
  color: $defaultFontColor;
  font-size: 18px;
}
.inputs {
  .select-wrapper::before {
    content: " ";
    width: 8px;
    display: inline-block;
    height: 5px;
    position: absolute;
    right: 55px;
    margin-top: 15px;
    background: url('/images/arrow-down.svg') no-repeat;
  }
  textarea {
    width: 100%;
    height: 200px;
    border-radius: 0;
    border: 1px solid $radioColor;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: $defaultFontColor;
    line-height: 15px;
  }
  select {
    width: 100%;
    border-radius: 0;
    border: 1px solid $radioColor;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: $defaultFontColor;
    line-height: 15px;
  }
  input {
    width: 100%;
    border-radius: 0;
    border: 1px solid $radioColor;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  input::placeholder {
    color: $defaultFontColor;
  }
}
.label {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
.blue-button {
  padding: 10px 20px;
  background-color: $LinkHoverColor;
  color: $wrapperBackgroundColor;
  border-radius: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
  &:hover {
    color: $wrapperBackgroundColor;
  }
  float: right;
}
.mr-20 {
  margin-right: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.connection {
  padding-left: 20px;
  padding-right: 20px;
}
.file-upload {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid $fileUploadBorder;
  background-color: $fileUploadBg;
  text-align: center;
  .blue-button {
    float: none;
  }
}
.sep-15 {
  margin-top: 25px;
  margin-bottom: 15px;
}
.modal-content {
  border-radius: 0;
}
.v-input__prepend-outer {
  margin-right: 10px;
}
.v-input {
  margin-left: -5px;
}
.btn {
  border-radius: 0;
}
.theme--light.v-label {
  color: $defaultFontColor;
  font-family: Arial, sans-serif;
}
.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: $separatorColor !important;
}
.mdi-paperclip::before {
  color: $defaultFontColor;
}
.notice {
  font-size: 12px;
  color: $orderStatusColor;
}
.personal-data {
  .label {
    margin-bottom: 5px;
  }
  .separator {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.button-wrapper {
  margin-top: 55px;
}
input[type=radio] {
  border-color: $separatorColor;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.details {
  margin-top: 12px;
  .form-group {
    margin-bottom: 5px;
    label {
      position: relative;
      top: -3px;
      margin-bottom: 0;
    }
  }
}
